<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./water.css">
  <style>
    body {
        height: 3000px;
    }
    #app p {
        text-align: center;
    }
    #app span {
        position: relative;
        margin-top: 5%;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        opacity: 0; /* Start with hidden */
        transition: opacity 0.5s ease; /* Smooth transition for opacity */
    }
    #app span.visible {
        opacity: 1; /* Fully visible when class is applied */
    }
  </style>
</head>
<body>
<div id="app" @mousemove="mousePos">
  <h1>Register</h1>
  <form>
    <input v-model="inputValue" placeholder="Email" v-on:mousemove="mousePos" v-on:mouseover="toggleState" v-on:mouseleave="toggleState">
    <span :class="{ visible: isActive }" v-if="isInputEmpty" :style="{ left: xPos + 'px' }">Email</span>
  </form>
</div>

<script src="./vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        xPos: 0,
        isActive: false,
        inputValue: ''
      }
    },
    methods: {
      toggleState() {
        this.isActive = !this.isActive;
      },
      mousePos(event) {
        this.xPos = event.offsetX;
      }
    },
    computed: {
    isInputEmpty() {
      return this.inputValue.trim() === '';
    }
  }
  })
  app.mount('#app');
</script>

</body>
</html>
